*{
    padding: 0;
    margin: 0;
}

.body{

    
    background: url("../img/back.jpg");
     min-height: 100vh; 
    
    display: flex;
    align-items: center;
    justify-content: center; 

}

#board{
    background: linear-gradient( rgb(78, 196, 111), rgb(31, 219, 21));
    width: 150vmin;
    height: 90vmin; 
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(35 , 1fr);

}

.head{
    background-color: red;
}
.snake{
    background-color: purple;
}
.food{
    background-color:yellow;
}